@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to the Library Management System</h1>
    <br />
    <br />
    <h2>Books</h2>

    <p>
        <a asp-controller="Book" asp-action="Index">View All Books</a>
    </p>

</div>
